/* variables */
:root {
  --icones-color: #0065FC; /* couleur bleu des icones */
  --bkgrnd-color-hover-btn-filter: #DEEBFF; /* couleur bleu ciel  en survole pour les boutons du filtre */
  --bkgrnd-color-border-btn-filter: #D9D9D9; /* couleur des bordures des boutons du filtre */
  --bkgrnd-default-color-btn-filter: #FFFFFF; /* couleur des bouton filtre par defaut */
  --bkgrnd-color-for-host-and-popular: #D9D9D9; /* couleur de fond grise pour les photos */
  --bkgrnd-color-not-obtain-stars-and-info-icon: #D9D9D9; /* couleur de fond grise des étoiles non obtenu et l'icone d'information */
  --text-card-and-search-color-white: #F2F2F2; /* couleur blanche */
}

/*--- Normalisation des parametres des navigateurs (reset) ---*/
* {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  max-width: 1400px;
  margin: 0 30px;
  color: #000000;
}

header, main, footer {
  margin: auto;
}

h1, h2, h3 {  font-weight: 700; }
h1, h2 {  font-size: 22px;  }
h3 {  font-size: 16px;  }



/*------ Partie icones et étoiles non obtenue ------*/
.icones {
  color: var(--icones-color);
}

.star_grey {
  color: var(--bkgrnd-color-not-obtain-stars-and-info-icon);
}


/*-------- Logo ------*/
header {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;

}

.logo img{
  height: 19px;
  /*margin-left: 20px;*/
}

/*---------- Navigation --------*/

nav {
  display: flex;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.lien_nav {
  display: flex;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
}

.lien_nav:hover {
  color: var(--icones-color);
  border-top: 2px solid var(--icones-color);
}


/*--- Description ---*/
.description {
  margin-bottom: 15px;
}

/*------ Barre de recherche ------*/
.recherche-form {
  display: inline-flex;
  width: auto;
  height: 50px;
}

.conteneur-icone-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--bkgrnd-color-not-obtain-stars-and-info-icon);
  border-radius: 15px 0 0 15px;
  width: 100%;
  width: 50px;
}

.conteneur-icone-info .fa-location-dot {
  width: 25px;
}


.recherche-form-txt {
  font-weight: bold;
  width: 304px;
  height: 100%;
  font-size: 18px;
  padding-left: 15px;
  border: none;
  border-top: 2px solid var(--grey-bkgrnd-photos-and-stars);
  border-bottom: 2px solid var(--grey-bkgrnd-photos-and-stars);
}


.recherche-form-txt::placeholder {
  color: #000000;
}


.recherche-form button{
  width: 120px;
  height: 50px;
  background: var(--icones-color);  
  border-radius: 0 15px 15px 0;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.recherche-bouton-txt {
  color: var(--text-card-and-search-color-white);
}


/*---------- Filtre ---------*/

.conteneur-filtres {
  margin-bottom: 20px;
}

.filtres {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
  gap: 20px;
}

.filtres-btn { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  width: auto;
  height: 50px;
  background: var(--bkgrnd-default-color-btn-filter);
  border: 2px solid var(--bkgrnd-color-border-btn-filter);
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  padding: 0 15px;
}

.filtres-btn:hover {
  background: var(--bkgrnd-color-hover-btn-filter);
}

/*--------- Information --------*/
.info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info .iconeinfo {
  border: 2px solid var(--bkgrnd-color-not-obtain-stars-and-info-icon);
  border-radius: 50%;
  background-color:#fff;
  width: 16px;
  height: 16px;
  padding: 4px;
}


/*---- hotel ----*/
.conteneur-hotel {
  display: flex;
  gap: 40px;
}

/*---------------- Partie recherche hebergement ----------------------*/

.sectionrecher_heber {
  display: flex;
  width: 880px;
  flex-direction: column;
  gap:10px;
  border-radius: 20px;
  background-color: var(--text-card-and-search-color-white);
  padding: 25px;
}


.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card {
  width: 30%;
  height: auto;
  box-shadow: 1px 5px 15px var(--bkgrnd-color-border-btn-filter);
  border-radius: 20px;
  background-color: #fff;
  padding: 7px;
}

.card p {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}


.afficherplus {
  font-weight: 700;
  font-size: 18px;
}

/*---------------- Partie les plus populaire ----------------------*/

.sectionplus_pop {
  width: 420px;
  padding: 25px;
  border-radius: 20px;
  background-color: var(--text-card-and-search-color-white);
}

.sectionplus_pop .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sectionplus_pop .cards {
  flex-direction: column;
}

.sectionplus_pop .cards .card {
  width: 100%;
}

/*---------------- Partie activité ----------------------*/

.conteneur_activiter {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.conteneur_activiter .card {
  border: 2px solid red;
  width: 335px;
}

.conteneur_activiter .card img {
  width: 315px;
  height: 420px;
  gap: 30px;
}

.conteneur_activiter h2 {
  margin-bottom: 20px;
}

.conteneur_activiter h3 {
  height: 56px;
  font-size: 16px;
  
}

/*---------------- Partie footer ----------------------*/

footer  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--text-card-and-search-color-white);
  height: 225px;
  align-items: center;
}


.content_footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
  font-size: 16px;
}

/*------ Media query mobile ------*/

@media screen and (max-width: 767px) {

header {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .logo {
    padding-top: 20px;
  }

  .lien_nav {
    border-top: none;
    border-bottom: 3px solid var(--bkgrnd-color-border-btn-filter);
  }

  .lien_nav:hover {
    border-top: none;
    border-bottom: 3px solid var(--icones-color);
  }

  .description {
    margin-top: 25px;
    font-size: 22px;
    text-align: justify;
  }
  
  .filtres {
    flex-wrap: wrap;
  }

  .recherche-form button {
    width: 50px;
  }

  .recherche-form button .fa-magnifying-glass {
    color: var(--text-card-and-search-color-white);
  }
  
  .recherche-bouton-txt {
    color: var(--text-card-and-search-color-white);
    display: none;
  }
  
  .cards {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .conteneur-hotel {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .sectionplus_pop {
    width: 100%;
  }

  .sectionplus_pop .cards {
    flex-direction: row;
  }

  .sectionplus_pop .cards .card {
    width: 30%;
  }

  footer {
    flex-direction: column;
  }

}

/*------ Media query Tablette & Desktop ------*/

@media screen and (min-width: 768px) {
  .recherche-form button .fa-magnifying-glass {
    display: none;
  }

}

