:root {
  --icones-color: #0065FC; /* couleur bleu des icones */
  --blue-sky-bkgrnd-btn-filter: #DEEBFF; /* couleur bleu ciel pour certaine partie */
  --grey-bkgrnd-photos-and-stars: #D9D9D9; /* couleur grise */
  --text-card-and-search-color-white: #F2F2F2; /* couleur blanche */
}

* {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}

body { 
  max-width: 1400px;
  margin: auto;
  color: #000000;
}

main {
  margin: auto;
  padding: 30px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}



/*------ Partie icones ------*/
.icones {
  color: var(--icones-color);
}

.star_grey {
  color: var(--grey-bkgrnd-photos-and-stars);
}

/*------- Devises -------*/
.devise {
  font-weight: 800;
}

/*-------- Logo ------*/
header {
  display: flex;
  justify-content: space-between;
}

.logo img{
  margin-top: 44px;
  height: 19px;
}

/*---------- Navigation --------*/

nav {
  display: flex;
  gap:40px;
}

a {
  text-decoration: none;
  color: #000000;
}

.lien_nav {
  margin-top: 44px;
  color: black;
  text-decoration: none;
}

.lien_nav:hover {
  color: var(--icones-color);
  box-sizing:border-box;
  border-top: 2px solid var(--icones-color);
}

.afficherplus {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/*------ Barre de recherche ------*/

.fa-location-dot {
  width: 50px;
  height: 50px;
  background: var(--grey-bkgrnd-photos-and-stars);  
  border-radius: 15px 0 0 15px;
  padding: 15px;
}

.recherche-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 50px;
  border: 1px solid var(--grey-bkgrnd-photos-and-stars);
  border-right: none;
  border-radius: 15px;
}

::placeholder {
  color: #000000;
}

.recherche-form input {
  font-weight: bold;
  width: 304px;
  height: 48px;
  font-family: 'Raleway';
  font-size: 18px;
  padding-left: 15px;
  border: none;
}

.recherche-form button{
  width: 120px;
  height: 50px;
  background: var(--icones-color);  
  border-radius: 0 15px 15px 0;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.recherche-bouton-txt {
  color: var(--text-card-and-search-color-white);
}

.recherche-form button .fa-magnifying-glass {
  color: var(--text-card-and-search-color-white);
  display: none;
}

/*------ Mediaquery icone loop mobile ------*/


/*---------- Filtre ---------*/
.filtres {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 16px;
  gap: 40px;
}

.filtres-btn { 
  width: 220px;
  height: 50px;
  border: 2px solid var(--grey-bkgrnd-photos-and-stars);
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.filtres-btn:hover {
  width: 226px;
  height: 50px;
  border: 2px solid var(--grey-bkgrnd-photos-and-stars);
  border-radius: 25px;
  background: var(--blue-sky-bkgrnd-btn-filter);
}

/*--------- Information --------*/
.info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconeinfo {
  border: 2px solid var(--grey-bkgrnd-photos-and-stars);
  border-radius: 50px;
  background-color:#fff;
  padding-left: 8px;
  width: 25px;
  height: 20px;
}

/*---------------- Partie recherche hebergement ----------------------*/

.sectionrecher_heber {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  border-radius: 20px;
  background-color: var(--grey-bkgrnd-photos-and-stars);
}
.card_height {
  height: 200px;
}

.card_height img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card_1 {
  width: 246px;
  height: 124px;
  border: 5px solid #fff;
  border-radius: 20px 20px 0 0;
}

/*---------------- Partie les plus populaire ----------------------*/

.sectionplus_pop {
  display: flex;
  border-radius: 20px;
  background-color: var(--text-card-and-search-color-white);
}

/*---------------- Partie activité ----------------------*/

.section_activité {
  display: flex;
  border-radius: 20px;
  background-color: var(--text-card-and-search-color-white);
}

/*---------------- Partie footer ----------------------*/

footer {
  display: flex;
  background-color: var(--text-card-and-search-color-white);
}
